#------------------------------------
# Exported functions
#------------------------------------

export(confint.cirls)
export(vcov.cirls)
export(cirls.fit)
export(cirls.control)

#------------------------------------
# Methods
#------------------------------------

S3method(confint,cirls)
S3method(vcov,cirls)
